* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-image: url('bg3.jpg'); 
    background-size: cover;
    background-position: center;
    color: #fff; 
    line-height: 1.6;
    padding-top: 60px; 
}

/* Navbar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1000;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #abcdac; 
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(92, 170, 19, 0.1); 
    border-radius: 10px;
}


.section {
    padding: 50px 0;
    background-color: rgba(92, 170, 19, 0.1); 
    margin: 20px 0;
    border-radius: 10px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
    color: #b9dcba; 
}

h3 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;
}

h5 {
    font-size: 1.5rem;
    color: #f2f2f2;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
    font-size: 1.2rem;
    color: #fff;
}

ul li {
    margin: 10px 0;
}

strong {
    font-weight: bold;
}


.continue {
    display: block;
    margin: 20px auto;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.continue:hover {
    background-color: #45a049;
}


@media (max-width: 768px) {
    nav ul li {
        margin: 0 10px;
    }

    h1 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    h5 {
        font-size: 1.3rem;
    }
}
