*{
    margin: 0;
    padding: 10px;
}

h1{
    font-size: 5rem;
}

nav{
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li{
    display: inline-block;
    margin-right: 20px;
}
nav a{
    color: #fff;
    text-decoration: none;
}
img{
    align-items: center;
    width: 400px;
    height: 350px;
}
.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.section{
    padding: 40px 20px;
    margin-bottom: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.section h2{
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
    text-align:center;
}
.section p{
    line-hright: 1.6;
    color:#555;
}
.continue{
    display: block;
    margin: 20px auto;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
    font-weight: 1000;
    font-style: oblique;
    border-radius: 5px;
    padding: 10px;
    bottom: 0px;
    cursor: pointer;
}
